body{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 25%;
}
.btn2{
    width: 20%;
    height: 30%;
    font-size: x-large;
    background-color: red;
    border: none;

}
.btn1{
    width: 20%;
    height: 30%;
    font-size: x-large;
    background-color: green;
    border: none;
    
}
.main{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    width: 200px;
    height: 100px;
    align-items: center;
}
span{
    font-size: x-large;
    font-weight: bold;
}